# Pandas

Pandas
- Lecture d’un fichier CSV
- Lecture à partir d’une BDD


TP Pandas
- Lecture d’un fichier
- Nettoyage des données

De Pandas à Numpy
- Différentes opérations de localisation et de regroupement par niveau
- Obtenir les informations sur les dimensions, redimensionner une structure
- Comprendre le broadcasting

In [1]:
import pandas as pd

pd.set_option(
    'display.max_colwidth', 100     # Default: 50
)

pd.set_option(
    'display.max_rows', 100         # Default: 15
)

#vérifier la version
pd.__version__

'2.2.2'

## First contact with a dataframe

In [2]:
# ✅
df = pd.read_csv("data/heart.csv")

In [3]:
# vérifions le type de df
type(df)

pandas.core.frame.DataFrame

In [4]:
# ✅
df.shape

(270, 13)

In [5]:
df.head()

,age,sexe,type_douleur,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,70,masculin,D,130,322,A,C,109,non,24,2,D,presence
1,67,feminin,C,115,564,A,C,160,non,16,2,A,absence
2,57,masculin,B,124,261,A,A,141,non,3,1,A,presence
3,64,masculin,D,128,263,A,A,105,oui,2,2,B,absence
4,74,feminin,B,120,269,A,C,121,oui,2,1,B,absence

In [6]:
df.columns

Index(['age', 'sexe', 'type_douleur', 'pression', 'cholester', 'sucre',
       'electro', 'taux_max', 'angine', 'depression', 'pic', 'vaisseau',
       'coeur'],
      dtype='object')

In [7]:
df.dtypes

age              int64
sexe            object
type_douleur    object
pression         int64
cholester        int64
sucre           object
electro         object
taux_max         int64
angine          object
depression       int64
pic              int64
vaisseau        object
coeur           object
dtype: object

In [8]:
df

,age,sexe,type_douleur,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,70,masculin,D,130,322,A,C,109,non,24,2,D,presence
1,67,feminin,C,115,564,A,C,160,non,16,2,A,absence
2,57,masculin,B,124,261,A,A,141,non,3,1,A,presence
3,64,masculin,D,128,263,A,A,105,oui,2,2,B,absence
4,74,feminin,B,120,269,A,C,121,oui,2,1,B,absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,masculin,C,172,199,B,A,162,non,5,1,A,absence
266,44,masculin,B,120,263,A,A,173,non,0,1,A,absence
267,56,feminin,B,140,294,A,C,153,non,13,2,A,absence
268,57,masculin,D,140,192,A,A,148,non,4,2,A,absence
269,67,masculin,D,160,286,A,C,108,oui,15,2,D,presence

In [9]:
df.describe()

              age    pression   cholester    taux_max  depression         pic
count  270.000000  270.000000  270.000000  270.000000  270.000000  270.000000
mean    54.433333  131.344444  249.659259  149.677778   10.500000    1.585185
std      9.109067   17.861608   51.686237   23.165717   11.452098    0.614390
min     29.000000   94.000000  126.000000   71.000000    0.000000    1.000000
25%     48.000000  120.000000  213.000000  133.000000    0.000000    1.000000
50%     55.000000  130.000000  245.000000  153.500000    8.000000    2.000000
75%     61.000000  140.000000  280.000000  166.000000   16.000000    2.000000
max     77.000000  200.000000  564.000000  202.000000   62.000000    3.000000

In [10]:
df.describe(include='all')

,age,sexe,type_douleur,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
count,270.000000,270,270,270.000000,270.000000,270,270,270.000000,270,270.000000,270.000000,270,270
unique,NaN,2,4,NaN,NaN,2,3,NaN,2,NaN,NaN,4,2
top,NaN,masculin,D,NaN,NaN,A,C,NaN,non,NaN,NaN,A,absence
freq,NaN,183,129,NaN,NaN,230,137,NaN,181,NaN,NaN,160,150
mean,54.433333,NaN,NaN,131.344444,249.659259,NaN,NaN,149.677778,NaN,10.500000,1.585185,NaN,NaN
std,9.109067,NaN,NaN,17.861608,51.686237,NaN,NaN,23.165717,NaN,11.452098,0.614390,NaN,NaN
min,29.000000,NaN,NaN,94.000000,126.000000,NaN,NaN,71.000000,NaN,0.000000,1.000000,NaN,NaN
25%,48.000000,NaN,NaN,120.000000,213.000000,NaN,NaN,133.000000,NaN,0.000000,1.000000,NaN,NaN
50%,55.000000,NaN,NaN,130.000000,245.000000,NaN,NaN,153.500000,NaN,8.000000,2.000000,NaN,NaN
75%,61.000000,NaN,NaN,140.000000,280.000000,NaN,NaN,166.000000,NaN,16.000000,2.000000,NaN,NaN
max,77.000000,NaN,NaN,200.000000,564.000000,NaN,NaN,202.000000,NaN,62.000000,3.000000,NaN,NaN

## Data loading

### From CSV

In [11]:
df_csv = pd.read_csv(
    "data/heart.csv",
    sep=",",                # For csv with a different separator
    header=0                # For csv without columns names
)

# Can be saved to csv with:
df_csv.to_csv(
    "data/my_data.csv",
    index=False             # index=False to avoid creating a new index each time
)

In [12]:
df_csv

,age,sexe,type_douleur,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,70,masculin,D,130,322,A,C,109,non,24,2,D,presence
1,67,feminin,C,115,564,A,C,160,non,16,2,A,absence
2,57,masculin,B,124,261,A,A,141,non,3,1,A,presence
3,64,masculin,D,128,263,A,A,105,oui,2,2,B,absence
4,74,feminin,B,120,269,A,C,121,oui,2,1,B,absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,masculin,C,172,199,B,A,162,non,5,1,A,absence
266,44,masculin,B,120,263,A,A,173,non,0,1,A,absence
267,56,feminin,B,140,294,A,C,153,non,13,2,A,absence
268,57,masculin,D,140,192,A,A,148,non,4,2,A,absence
269,67,masculin,D,160,286,A,C,108,oui,15,2,D,presence

In [13]:
out_csv_with_index = lambda n: f"data/heart_with_index_save_{n}.csv"
df_csv.to_csv(out_csv_with_index(0))

for i in range(2):
    df_with_index = pd.read_csv(out_csv_with_index(i))
    df_with_index.to_csv(out_csv_with_index(i + 1))
df_with_index

,Unnamed: 0.1,Unnamed: 0,age,sexe,type_douleur,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,0,0,70,masculin,D,130,322,A,C,109,non,24,2,D,presence
1,1,1,67,feminin,C,115,564,A,C,160,non,16,2,A,absence
2,2,2,57,masculin,B,124,261,A,A,141,non,3,1,A,presence
3,3,3,64,masculin,D,128,263,A,A,105,oui,2,2,B,absence
4,4,4,74,feminin,B,120,269,A,C,121,oui,2,1,B,absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,265,265,52,masculin,C,172,199,B,A,162,non,5,1,A,absence
266,266,266,44,masculin,B,120,263,A,A,173,non,0,1,A,absence
267,267,267,56,feminin,B,140,294,A,C,153,non,13,2,A,absence
268,268,268,57,masculin,D,140,192,A,A,148,non,4,2,A,absence
269,269,269,67,masculin,D,160,286,A,C,108,oui,15,2,D,presence

✅
### From parquet
1. Columnar
   
   ![](https://miro.medium.com/v2/resize:fit:720/format:webp/1*QEQJjtnDb3JQ2xqhzARZZw.png)

2. Open-source

3. Self-describing: 
   
   Parquet file contains metadata including schema and structure. 
   
   Make it easier to decouple services that write, store, and read Parquet files.

   ![](https://www.upsolver.com/wp-content/uploads/2020/05/Screen-Shot-2020-05-26-at-17.53.13-1024x532.png)

4. Compression on disk
   
5. Performance: 
   
   It's possible to idependantly access any column without loading the full file

In [14]:
df_csv.to_parquet(
    "./data/heart.parquet",
    index=False,
)

df_parquet = pd.read_parquet("./data/heart.parquet")
df_parquet

,age,sexe,type_douleur,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,70,masculin,D,130,322,A,C,109,non,24,2,D,presence
1,67,feminin,C,115,564,A,C,160,non,16,2,A,absence
2,57,masculin,B,124,261,A,A,141,non,3,1,A,presence
3,64,masculin,D,128,263,A,A,105,oui,2,2,B,absence
4,74,feminin,B,120,269,A,C,121,oui,2,1,B,absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,masculin,C,172,199,B,A,162,non,5,1,A,absence
266,44,masculin,B,120,263,A,A,173,non,0,1,A,absence
267,56,feminin,B,140,294,A,C,153,non,13,2,A,absence
268,57,masculin,D,140,192,A,A,148,non,4,2,A,absence
269,67,masculin,D,160,286,A,C,108,oui,15,2,D,presence

### From SQL

In [15]:
# ✅
from sqlalchemy import create_engine

engine = create_engine('sqlite:///data/heart.sqlite', echo=True)
df_sql = pd.read_sql(
    "SELECT * FROM heart;",
    engine
)
print("Done!\n\n")

engine = create_engine('sqlite:///:memory:', echo=True)
nb_lines_uploaded = df_sql.to_sql(
    "new_table",
    engine,
    index=False,
    method="multi",     # Create one INSERT statement by row
)
nb_lines_uploaded

2024-09-22 18:52:03,724 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-22 18:52:03,724 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM heart;")
2024-09-22 18:52:03,725 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 18:52:03,726 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM heart;")
2024-09-22 18:52:03,727 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 18:52:03,728 INFO sqlalchemy.engine.Engine SELECT * FROM heart;
2024-09-22 18:52:03,728 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 18:52:03,732 INFO sqlalchemy.engine.Engine ROLLBACK
Done!


2024-09-22 18:52:03,734 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-22 18:52:03,737 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("new_table")
2024-09-22 18:52:03,738 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 18:52:03,739 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("new_table")
2024-09-22 18:52:03,739 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-09-22 18:52:03,741 INFO sqlalchemy.engine.Engine
CREATE TABLE new_table (
	id BIGINT,
	age BIGINT,
	sexe TEXT,
	type_douleur TEXT,
	pression BIGINT,
	cholester BIGINT,
	sucre TEXT,
	electro TEXT,
	taux_max BIGINT,
	angine TEXT,
	depression BIGINT,
	pic BIGINT,
	vaisseau TEXT,
	coeur TEXT
)


2024-09-22 18:52:03,741 INFO sqlalchemy.engine.Engine [no key 0.00048s] ()

2024-09-22 18:52:03,825 INFO sqlalchemy.engine.Engine INSERT INTO new_table (id, age, sexe, type_douleur, pression, cholester, sucre, electro, taux_max, angine, depression, pic, vaisseau, coeur) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-09-22 18:52:03,826 INFO sqlalchemy.engine.Engine [no key 0.00563s] (0, 70, 'masculin', 'D', 130, 322, 'A', 'C', 109, 'non', 24, 2, 'D', 'presence', 1, 67, 'feminin', 'C', 115, 564, 'A', 'C', 160, 'non', 16, 2, 'A', 'absence', 2, 57, 'masculin', 'B', 124, 261, 'A', 'A', 141, 'non', 3, 1, 'A', 'presence', 3, 64, 'masculin', 'D', 128, 263, 'A', 'A' ... 3680 parameters truncated ... 'A', 'A', 173, 'non', 0, 1, 'A', 'absence', 267, 56, 'feminin', 'B', 140, 294, 'A', 'C', 153, 'non', 13, 2, 'A', 'absence', 268, 57, 'masculin', 'D', 140, 192, 'A', 'A', 148, 'non', 4, 2, 'A', 'absence', 269, 67, 'masculin', 'D', 160, 286, 'A', 'C', 108, 'oui', 15, 2, 'D', 'presence')
2024-09-22 18:52:03,829 INFO sqlalchemy.engine.Engine COMMIT

270

In [16]:
df_sql

,id,age,sexe,type_douleur,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,0,70,masculin,D,130,322,A,C,109,non,24,2,D,presence
1,1,67,feminin,C,115,564,A,C,160,non,16,2,A,absence
2,2,57,masculin,B,124,261,A,A,141,non,3,1,A,presence
3,3,64,masculin,D,128,263,A,A,105,oui,2,2,B,absence
4,4,74,feminin,B,120,269,A,C,121,oui,2,1,B,absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,265,52,masculin,C,172,199,B,A,162,non,5,1,A,absence
266,266,44,masculin,B,120,263,A,A,173,non,0,1,A,absence
267,267,56,feminin,B,140,294,A,C,153,non,13,2,A,absence
268,268,57,masculin,D,140,192,A,A,148,non,4,2,A,absence
269,269,67,masculin,D,160,286,A,C,108,oui,15,2,D,presence

### Chunk size

In [17]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///data/heart.sqlite', echo=False)

for df_part in pd.read_sql("SELECT * FROM heart;", engine, chunksize=100):
    print(f"{df_part.shape = }")

df_part.shape = (100, 14)
df_part.shape = (100, 14)
df_part.shape = (70, 14)

## Indexing // accessing the data

### Single column

In [18]:
df['sexe']

0      masculin
1       feminin
2      masculin
3      masculin
4       feminin
         ...
265    masculin
266    masculin
267     feminin
268    masculin
269    masculin
Name: sexe, Length: 270, dtype: object

In [19]:
df.sexe

0      masculin
1       feminin
2      masculin
3      masculin
4       feminin
         ...
265    masculin
266    masculin
267     feminin
268    masculin
269    masculin
Name: sexe, Length: 270, dtype: object

### Multiple columns

In [20]:
df[["sexe", "age"]]

# ! /!\ it needs to be in an array
# df["sexe", "age"] # -> throws an error

         sexe  age
0    masculin   70
1     feminin   67
2    masculin   57
3    masculin   64
4     feminin   74
..        ...  ...
265  masculin   52
266  masculin   44
267   feminin   56
268  masculin   57
269  masculin   67

[270 rows x 2 columns]

## Series object

In [21]:
type(df["age"])

pandas.core.series.Series

In [22]:
df['age'].head()

0    70
1    67
2    57
3    64
4    74
Name: age, dtype: int64

In [23]:
df['age'].tail()

265    52
266    44
267    56
268    57
269    67
Name: age, dtype: int64

In [24]:
df['age'].describe()

count    270.000000
mean      54.433333
std        9.109067
min       29.000000
25%       48.000000
50%       55.000000
75%       61.000000
max       77.000000
Name: age, dtype: float64

In [25]:
df['sexe'].describe()

count          270
unique           2
top       masculin
freq           183
Name: sexe, dtype: object

In [26]:
df['age'].mean()

54.43333333333333

In [27]:
df['type_douleur'].value_counts()

type_douleur
D    129
C     79
B     42
A     20
Name: count, dtype: int64

In [28]:
# Series are vector. We can index it normally:

df['age'][0]

70

In [29]:
df['age'][0:3]

0    70
1    67
2    57
Name: age, dtype: int64

In [30]:
df['age'].sort_values()

214    29
174    34
138    34
224    35
81     35
       ..
15     71
255    71
4      74
73     76
199    77
Name: age, Length: 270, dtype: int64

In [31]:
df['age'].argsort()

0      214
1      174
2      138
3      224
4       81
      ...
265     15
266    255
267      4
268     73
269    199
Name: age, Length: 270, dtype: int64

In [32]:
df['age'][df['age'].argsort()]

214    29
174    34
138    34
224    35
81     35
       ..
15     71
255    71
4      74
73     76
199    77
Name: age, Length: 270, dtype: int64

## Dataframe object

In [33]:
df.sort_values(by='age').head()

,age,sexe,type_douleur,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
214,29,masculin,B,130,204,A,C,202,non,0,1,A,absence
174,34,masculin,A,118,182,A,C,174,non,0,1,A,absence
138,34,feminin,B,118,210,A,A,192,non,7,1,A,absence
224,35,feminin,D,138,183,A,A,182,non,14,1,A,absence
81,35,masculin,D,120,198,A,A,130,oui,16,2,A,presence

In [34]:
# fonction call back
def operation(x):
    return(x.mean())

# Call the function on all columns of the DataFrame


resultat = df.select_dtypes(exclude=["object"]).apply(operation, axis=0)
# select_dtypes()
# 	exclude non numeric columns with 'object' dtype

# axis = 0 
# 	each column will be passed to the function `operation()`

resultat

age            54.433333
pression      131.344444
cholester     249.659259
taux_max      149.677778
depression     10.500000
pic             1.585185
dtype: float64

In [35]:
df

,age,sexe,type_douleur,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,70,masculin,D,130,322,A,C,109,non,24,2,D,presence
1,67,feminin,C,115,564,A,C,160,non,16,2,A,absence
2,57,masculin,B,124,261,A,A,141,non,3,1,A,presence
3,64,masculin,D,128,263,A,A,105,oui,2,2,B,absence
4,74,feminin,B,120,269,A,C,121,oui,2,1,B,absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,masculin,C,172,199,B,A,162,non,5,1,A,absence
266,44,masculin,B,120,263,A,A,173,non,0,1,A,absence
267,56,feminin,B,140,294,A,C,153,non,13,2,A,absence
268,57,masculin,D,140,192,A,A,148,non,4,2,A,absence
269,67,masculin,D,160,286,A,C,108,oui,15,2,D,presence

## `.loc()` and `.iloc()`

- `.loc()`: takes into account the inner indexing of the Series/Dataframe object.
- `.iloc()`: takes into account the integer location of the data, like an usual `list[i]`

### On a Series

In [36]:
s = pd.Series(["a","b","c","d","e","f"], index=[49, 48, 47, 0, 1, 2]) 
s

49    a
48    b
47    c
0     d
1     e
2     f
dtype: object

In [37]:
s.loc[0]

'd'

In [38]:
s.iloc[0]

'a'

In [39]:
s.loc[0:1]

0    d
1    e
dtype: object

In [40]:
s.iloc[0:1]

49    a
dtype: object

### `iloc()` on a dataframe

In [41]:
df

,age,sexe,type_douleur,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,70,masculin,D,130,322,A,C,109,non,24,2,D,presence
1,67,feminin,C,115,564,A,C,160,non,16,2,A,absence
2,57,masculin,B,124,261,A,A,141,non,3,1,A,presence
3,64,masculin,D,128,263,A,A,105,oui,2,2,B,absence
4,74,feminin,B,120,269,A,C,121,oui,2,1,B,absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,masculin,C,172,199,B,A,162,non,5,1,A,absence
266,44,masculin,B,120,263,A,A,173,non,0,1,A,absence
267,56,feminin,B,140,294,A,C,153,non,13,2,A,absence
268,57,masculin,D,140,192,A,A,148,non,4,2,A,absence
269,67,masculin,D,160,286,A,C,108,oui,15,2,D,presence

In [42]:
df.head(3)

,age,sexe,type_douleur,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,70,masculin,D,130,322,A,C,109,non,24,2,D,presence
1,67,feminin,C,115,564,A,C,160,non,16,2,A,absence
2,57,masculin,B,124,261,A,A,141,non,3,1,A,presence

In [43]:
# df.iloc[ROW, COLUMN]

df.iloc[0,0]

70

In [44]:
df.iloc[-1,0]

67

In [45]:
df.iloc[df.shape[0]-1,0]

67

In [46]:
df.iloc[0:5,:]

,age,sexe,type_douleur,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,70,masculin,D,130,322,A,C,109,non,24,2,D,presence
1,67,feminin,C,115,564,A,C,160,non,16,2,A,absence
2,57,masculin,B,124,261,A,A,141,non,3,1,A,presence
3,64,masculin,D,128,263,A,A,105,oui,2,2,B,absence
4,74,feminin,B,120,269,A,C,121,oui,2,1,B,absence

In [47]:
colonnes = [1, 3, 4]
df.iloc[0:5,colonnes]

       sexe  pression  cholester
0  masculin       130        322
1   feminin       115        564
2  masculin       124        261
3  masculin       128        263
4   feminin       120        269

In [48]:
df.iloc[-5:,:]

,age,sexe,type_douleur,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
265,52,masculin,C,172,199,B,A,162,non,5,1,A,absence
266,44,masculin,B,120,263,A,A,173,non,0,1,A,absence
267,56,feminin,B,140,294,A,C,153,non,13,2,A,absence
268,57,masculin,D,140,192,A,A,148,non,4,2,A,absence
269,67,masculin,D,160,286,A,C,108,oui,15,2,D,presence

In [49]:
df.iloc[0:5,0:2]

   age      sexe
0   70  masculin
1   67   feminin
2   57  masculin
3   64  masculin
4   74   feminin

In [50]:
df.iloc[0:5,[0,2,4]]

   age type_douleur  cholester
0   70            D        322
1   67            C        564
2   57            B        261
3   64            D        263
4   74            B        269

In [51]:
df.iloc[0:5,0:5:2]

   age type_douleur  cholester
0   70            D        322
1   67            C        564
2   57            B        261
3   64            D        263
4   74            B        269

### `.loc()` on a dataframe

In [52]:
# We can index by column names

columns = ['age','sexe','coeur','taux_max']
df.loc[:10, columns]

    age      sexe     coeur  taux_max
0    70  masculin  presence       109
1    67   feminin   absence       160
2    57  masculin  presence       141
3    64  masculin   absence       105
4    74   feminin   absence       121
5    65  masculin   absence       140
6    56  masculin  presence       142
7    59  masculin  presence       142
8    60  masculin  presence       170
9    63   feminin  presence       154
10   59  masculin   absence       161

## `.loc()` powerfull requests capabilities

In [53]:
df

,age,sexe,type_douleur,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,70,masculin,D,130,322,A,C,109,non,24,2,D,presence
1,67,feminin,C,115,564,A,C,160,non,16,2,A,absence
2,57,masculin,B,124,261,A,A,141,non,3,1,A,presence
3,64,masculin,D,128,263,A,A,105,oui,2,2,B,absence
4,74,feminin,B,120,269,A,C,121,oui,2,1,B,absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,masculin,C,172,199,B,A,162,non,5,1,A,absence
266,44,masculin,B,120,263,A,A,173,non,0,1,A,absence
267,56,feminin,B,140,294,A,C,153,non,13,2,A,absence
268,57,masculin,D,140,192,A,A,148,non,4,2,A,absence
269,67,masculin,D,160,286,A,C,108,oui,15,2,D,presence

In [54]:
df.loc[df['type_douleur']=="A",:]

,age,sexe,type_douleur,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
13,61,masculin,A,134,234,A,A,145,non,26,2,C,presence
18,64,masculin,A,110,211,A,C,144,oui,18,2,A,absence
19,40,masculin,A,140,199,A,A,178,oui,14,1,A,absence
37,59,masculin,A,160,273,A,C,125,non,0,1,A,presence
63,60,feminin,A,150,240,A,A,171,non,9,1,A,absence
64,63,masculin,A,145,233,B,C,150,non,23,3,A,absence
85,42,masculin,A,148,244,A,C,178,non,8,1,C,absence
87,59,masculin,A,178,270,A,C,145,non,42,3,A,absence
118,66,feminin,A,150,226,A,A,114,non,26,3,A,absence
143,51,masculin,A,125,213,A,C,125,oui,14,1,B,absence
158,56,masculin,A,120,193,A,C,162,non,19,2,A,absence
160,38,masculin,A,120,231,A,A,182,oui,38,2,A,presence
169,65,masculin,A,138,282,B,C,174,non,14,2,B,presence
170,69,masculin,A,160,234,B,C,131,non,1,2,B,absence
174,34,masculin,A,118,182,A,C,174,non,0,1,A,absence
198,69,feminin,A,140,239,A,A,151,non,18,1,C,absence
205,52,masculin,A,152,298,B,A,178,non,12,2,A,absence
210,59,masculin,A,170,288,A,C,159,non,2,2,A,presence
228,58,feminin,A,150,283,B,C,162,non,10,1,A,absence
229,52,masculin,A,118,186,A,C,190,non,0,2,A,absence

### Let's break down the query

In [55]:
df['type_douleur']=="A"
# Gives us a boolean Series

0      False
1      False
2      False
3      False
4      False
       ...
265    False
266    False
267    False
268    False
269    False
Name: type_douleur, Length: 270, dtype: bool

In [56]:
(df['type_douleur']=="A").value_counts()

type_douleur
False    250
True      20
Name: count, dtype: int64

In [57]:
boolean_series = df['type_douleur']=="A"

df.loc[boolean_series, :]

,age,sexe,type_douleur,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
13,61,masculin,A,134,234,A,A,145,non,26,2,C,presence
18,64,masculin,A,110,211,A,C,144,oui,18,2,A,absence
19,40,masculin,A,140,199,A,A,178,oui,14,1,A,absence
37,59,masculin,A,160,273,A,C,125,non,0,1,A,presence
63,60,feminin,A,150,240,A,A,171,non,9,1,A,absence
64,63,masculin,A,145,233,B,C,150,non,23,3,A,absence
85,42,masculin,A,148,244,A,C,178,non,8,1,C,absence
87,59,masculin,A,178,270,A,C,145,non,42,3,A,absence
118,66,feminin,A,150,226,A,A,114,non,26,3,A,absence
143,51,masculin,A,125,213,A,C,125,oui,14,1,B,absence
158,56,masculin,A,120,193,A,C,162,non,19,2,A,absence
160,38,masculin,A,120,231,A,A,182,oui,38,2,A,presence
169,65,masculin,A,138,282,B,C,174,non,14,2,B,presence
170,69,masculin,A,160,234,B,C,131,non,1,2,B,absence
174,34,masculin,A,118,182,A,C,174,non,0,1,A,absence
198,69,feminin,A,140,239,A,A,151,non,18,1,C,absence
205,52,masculin,A,152,298,B,A,178,non,12,2,A,absence
210,59,masculin,A,170,288,A,C,159,non,2,2,A,presence
228,58,feminin,A,150,283,B,C,162,non,10,1,A,absence
229,52,masculin,A,118,186,A,C,190,non,0,2,A,absence

### Multiple conditions

In [58]:
df.loc[(df['type_douleur']=="A") & (df['angine'] =="oui"),:]

,age,sexe,type_douleur,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
18,64,masculin,A,110,211,A,C,144,oui,18,2,A,absence
19,40,masculin,A,140,199,A,A,178,oui,14,1,A,absence
143,51,masculin,A,125,213,A,C,125,oui,14,1,B,absence
160,38,masculin,A,120,231,A,A,182,oui,38,2,A,presence

In [59]:
# ! /!\ The () are necessary

# df.loc[df['type_douleur']=="A" & df['angine'] =="oui",:]

In [60]:
df.loc[(df['age'] < 45) & (df['sexe'] == "masculin") & (df['coeur'] =="presence"),:]

,age,sexe,type_douleur,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
40,40,masculin,D,152,223,A,A,181,non,0,1,A,presence
47,44,masculin,D,110,197,A,C,177,non,0,1,B,presence
50,42,masculin,D,136,315,A,A,125,oui,18,2,A,presence
81,35,masculin,D,120,198,A,A,130,oui,16,2,A,presence
147,40,masculin,D,110,167,A,C,114,oui,20,2,A,presence
160,38,masculin,A,120,231,A,A,182,oui,38,2,A,presence
182,41,masculin,D,110,172,A,C,158,non,0,1,A,presence
193,35,masculin,D,126,282,A,C,156,oui,0,1,A,presence
231,39,masculin,D,118,219,A,A,140,non,12,2,A,presence
237,43,masculin,D,120,177,A,C,120,oui,25,2,A,presence
252,44,masculin,D,112,290,A,C,153,non,0,1,B,presence

In [61]:
columns = ['age','sexe','coeur','taux_max']

df.loc[(df['age'] < 45) & (df['sexe'] == "masculin") & (df['coeur'] =="presence"), columns]

     age      sexe     coeur  taux_max
40    40  masculin  presence       181
47    44  masculin  presence       177
50    42  masculin  presence       125
81    35  masculin  presence       130
147   40  masculin  presence       114
160   38  masculin  presence       182
182   41  masculin  presence       158
193   35  masculin  presence       156
231   39  masculin  presence       140
237   43  masculin  presence       120
252   44  masculin  presence       153

## Crosstab

In [62]:
pd.crosstab(df['sexe'],df['coeur'])

coeur     absence  presence
sexe
feminin        67        20
masculin       83       100

### Normalize

In [63]:
pd.crosstab(df['sexe'],df['coeur'],normalize='index')

coeur      absence  presence
sexe
feminin   0.770115  0.229885
masculin  0.453552  0.546448

In [64]:
pd.crosstab(df['sexe'],df['coeur'],normalize='columns')

coeur      absence  presence
sexe
feminin   0.446667  0.166667
masculin  0.553333  0.833333

In [65]:
pd.crosstab(df['sexe'],df['coeur'],normalize='all')

coeur      absence  presence
sexe
feminin   0.248148  0.074074
masculin  0.307407  0.370370

### Aggregate function

In [66]:
pd.crosstab(df['sexe'],df['coeur'],values=df['age'],aggfunc=pd.Series.median)

coeur     absence  presence
sexe
feminin      54.0      61.0
masculin     52.0      57.5

### More than 2 dimensions:

In [67]:
pd.crosstab(
    [df['sexe'], df['sucre']],
    df['coeur'],
    normalize='index'
)

coeur            absence  presence
sexe     sucre
feminin  A      0.802632  0.197368
         B      0.545455  0.454545
masculin A      0.428571  0.571429
         B      0.586207  0.413793

## Group by

In [68]:
df

,age,sexe,type_douleur,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,70,masculin,D,130,322,A,C,109,non,24,2,D,presence
1,67,feminin,C,115,564,A,C,160,non,16,2,A,absence
2,57,masculin,B,124,261,A,A,141,non,3,1,A,presence
3,64,masculin,D,128,263,A,A,105,oui,2,2,B,absence
4,74,feminin,B,120,269,A,C,121,oui,2,1,B,absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,masculin,C,172,199,B,A,162,non,5,1,A,absence
266,44,masculin,B,120,263,A,A,173,non,0,1,A,absence
267,56,feminin,B,140,294,A,C,153,non,13,2,A,absence
268,57,masculin,D,140,192,A,A,148,non,4,2,A,absence
269,67,masculin,D,160,286,A,C,108,oui,15,2,D,presence

In [69]:
type(df)

pandas.core.frame.DataFrame

In [70]:
# ✅
g = df.groupby('sexe')

In [71]:
type(g)

pandas.core.groupby.generic.DataFrameGroupBy

In [72]:
df_for_group = g.get_group('masculin')
df_for_group

,age,sexe,type_douleur,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,70,masculin,D,130,322,A,C,109,non,24,2,D,presence
2,57,masculin,B,124,261,A,A,141,non,3,1,A,presence
3,64,masculin,D,128,263,A,A,105,oui,2,2,B,absence
5,65,masculin,D,120,177,A,A,140,non,4,1,A,absence
6,56,masculin,C,130,256,B,C,142,oui,6,2,B,presence
...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,48,masculin,B,110,229,A,A,168,non,10,3,A,presence
265,52,masculin,C,172,199,B,A,162,non,5,1,A,absence
266,44,masculin,B,120,263,A,A,173,non,0,1,A,absence
268,57,masculin,D,140,192,A,A,148,non,4,2,A,absence
269,67,masculin,D,160,286,A,C,108,oui,15,2,D,presence

In [73]:
type(g.get_group('masculin'))

pandas.core.frame.DataFrame

In [74]:
g.get_group('masculin').shape

(183, 13)

In [75]:
g.get_group('masculin')['age'].mean()

53.84153005464481

In [76]:
g[["age", "depression"]].agg(
    [
        pd.Series.mean,
        pd.Series.std,
        pd.Series.sum,
        pd.Series.count,
    ]
)

                age                       depression
               mean       std   sum count       mean        std   sum count
sexe
feminin   55.678161  9.626144  4844    87   8.885057  11.332630   773    87
masculin  53.841530  8.818189  9853   183  11.267760  11.459408  2062   183

In [77]:
for groupe in g:
    #groupe est un tuple
    print(f"{groupe[0] = }") #étiquette du groupe
    #accès à la variable 'age' du groupe concerné
    print(f"{pd.Series.mean(groupe[1]['age']) = }")
    print()

groupe[0] = 'feminin'
pd.Series.mean(groupe[1]['age']) = 55.67816091954023

groupe[0] = 'masculin'
pd.Series.mean(groupe[1]['age']) = 53.84153005464481

## Computed variables

### Variable from another column

In [78]:
import numpy as np

taux_net = df['taux_max'] * np.log(df['age'])
taux_net

0      463.085981
1      672.750819
2      570.070229
3      436.682724
4      520.791876
          ...
265    640.101482
266    654.664807
267    615.878809
268    598.371588
269    454.106803
Length: 270, dtype: float64

In [79]:
type(taux_net)

pandas.core.series.Series

In [80]:
df.shape

(270, 13)

In [81]:
df_new = pd.concat([taux_net, df],axis=1)
df_new.shape

(270, 14)

In [82]:
df_new

,0,age,sexe,type_douleur,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,463.085981,70,masculin,D,130,322,A,C,109,non,24,2,D,presence
1,672.750819,67,feminin,C,115,564,A,C,160,non,16,2,A,absence
2,570.070229,57,masculin,B,124,261,A,A,141,non,3,1,A,presence
3,436.682724,64,masculin,D,128,263,A,A,105,oui,2,2,B,absence
4,520.791876,74,feminin,B,120,269,A,C,121,oui,2,1,B,absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,640.101482,52,masculin,C,172,199,B,A,162,non,5,1,A,absence
266,654.664807,44,masculin,B,120,263,A,A,173,non,0,1,A,absence
267,615.878809,56,feminin,B,140,294,A,C,153,non,13,2,A,absence
268,598.371588,57,masculin,D,140,192,A,A,148,non,4,2,A,absence
269,454.106803,67,masculin,D,160,286,A,C,108,oui,15,2,D,presence

In [83]:
df_new = df_new.rename(columns={0: "taux_net"})
df_new

,taux_net,age,sexe,type_douleur,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,463.085981,70,masculin,D,130,322,A,C,109,non,24,2,D,presence
1,672.750819,67,feminin,C,115,564,A,C,160,non,16,2,A,absence
2,570.070229,57,masculin,B,124,261,A,A,141,non,3,1,A,presence
3,436.682724,64,masculin,D,128,263,A,A,105,oui,2,2,B,absence
4,520.791876,74,feminin,B,120,269,A,C,121,oui,2,1,B,absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,640.101482,52,masculin,C,172,199,B,A,162,non,5,1,A,absence
266,654.664807,44,masculin,B,120,263,A,A,173,non,0,1,A,absence
267,615.878809,56,feminin,B,140,294,A,C,153,non,13,2,A,absence
268,598.371588,57,masculin,D,140,192,A,A,148,non,4,2,A,absence
269,454.106803,67,masculin,D,160,286,A,C,108,oui,15,2,D,presence

### Broadcasting

In [84]:
# ✅
df['age'] * 365

0      25550
1      24455
2      20805
3      23360
4      27010
       ...
265    18980
266    16060
267    20440
268    20805
269    24455
Name: age, Length: 270, dtype: int64

### Variable ex-nihilo

In [85]:
sexe_code = pd.Series(np.zeros(df.shape[0]))
sexe_code.shape

(270,)

In [86]:
sexe_code[df['sexe']=='masculin'] = 1
sexe_code.value_counts()

1.0    183
0.0     87
Name: count, dtype: int64

In [87]:
sexe_code_bis = df['sexe'].eq('masculin').astype('int')
sexe_code_bis.value_counts()

sexe
1    183
0     87
Name: count, dtype: int64

## Cleaning

### fill df with NaN

In [88]:
import random

df_with_nan = pd.read_csv("data/heart.csv")

nb_cells = df_with_nan.shape[0] * df_with_nan.shape[1]
nb_nan = int(nb_cells * 0.05)

print(f"{nb_nan = }")
for _ in range(nb_nan):
    index = random.randint(0, df_with_nan.shape[0] - 1)
    column = random.randint(0, df_with_nan.shape[1] - 1)
    # print(f"Setting NaN on {index = } & {column = }")
    df_with_nan.iloc[index, column] = np.nan

df_with_nan.to_csv("./data/heart_with_nan.csv", index=False)
df_with_nan

nb_nan = 175

,age,sexe,type_douleur,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,70.0,masculin,D,130.0,322.0,A,C,109.0,non,24.0,2.0,D,presence
1,67.0,feminin,C,115.0,564.0,A,NaN,160.0,non,16.0,2.0,A,absence
2,57.0,masculin,B,124.0,261.0,A,A,141.0,non,NaN,1.0,A,presence
3,64.0,masculin,D,128.0,263.0,A,A,105.0,oui,2.0,2.0,NaN,absence
4,74.0,feminin,B,120.0,269.0,A,C,121.0,oui,2.0,1.0,B,absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52.0,masculin,C,172.0,199.0,B,A,162.0,non,5.0,1.0,A,absence
266,44.0,masculin,B,120.0,NaN,A,A,173.0,non,NaN,1.0,A,absence
267,56.0,feminin,B,140.0,294.0,A,C,NaN,non,13.0,2.0,A,absence
268,57.0,masculin,D,140.0,192.0,A,A,148.0,non,4.0,2.0,A,absence
269,67.0,NaN,D,160.0,286.0,A,C,108.0,oui,15.0,2.0,D,presence

In [89]:
df_to_clean = pd.read_csv("data/heart_with_nan.csv")
df_to_clean

,age,sexe,type_douleur,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,70.0,masculin,D,130.0,322.0,A,C,109.0,non,24.0,2.0,D,presence
1,67.0,feminin,C,115.0,564.0,A,NaN,160.0,non,16.0,2.0,A,absence
2,57.0,masculin,B,124.0,261.0,A,A,141.0,non,NaN,1.0,A,presence
3,64.0,masculin,D,128.0,263.0,A,A,105.0,oui,2.0,2.0,NaN,absence
4,74.0,feminin,B,120.0,269.0,A,C,121.0,oui,2.0,1.0,B,absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52.0,masculin,C,172.0,199.0,B,A,162.0,non,5.0,1.0,A,absence
266,44.0,masculin,B,120.0,NaN,A,A,173.0,non,NaN,1.0,A,absence
267,56.0,feminin,B,140.0,294.0,A,C,NaN,non,13.0,2.0,A,absence
268,57.0,masculin,D,140.0,192.0,A,A,148.0,non,4.0,2.0,A,absence
269,67.0,NaN,D,160.0,286.0,A,C,108.0,oui,15.0,2.0,D,presence

### Drop NaN

In [90]:
df_to_clean.isna().sum()

age             13
sexe            17
type_douleur    13
pression        10
cholester       15
sucre           20
electro         11
taux_max        14
angine           8
depression      14
pic             14
vaisseau        14
coeur           10
dtype: int64

In [91]:
df_droped = df_to_clean.dropna(
    axis=0,
    how="any",          # other option is "all"
)
df_droped

,age,sexe,type_douleur,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,70.0,masculin,D,130.0,322.0,A,C,109.0,non,24.0,2.0,D,presence
4,74.0,feminin,B,120.0,269.0,A,C,121.0,oui,2.0,1.0,B,absence
15,71.0,feminin,D,112.0,149.0,A,A,125.0,non,16.0,2.0,A,absence
16,46.0,masculin,D,140.0,311.0,A,A,120.0,oui,18.0,2.0,C,presence
18,64.0,masculin,A,110.0,211.0,A,C,144.0,oui,18.0,2.0,A,absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,58.0,masculin,B,120.0,284.0,A,C,160.0,non,18.0,2.0,A,presence
263,49.0,masculin,B,130.0,266.0,A,A,171.0,non,6.0,1.0,A,absence
264,48.0,masculin,B,110.0,229.0,A,A,168.0,non,10.0,3.0,A,presence
265,52.0,masculin,C,172.0,199.0,B,A,162.0,non,5.0,1.0,A,absence
268,57.0,masculin,D,140.0,192.0,A,A,148.0,non,4.0,2.0,A,absence

In [92]:
df_droped.isna().sum()

age             0
sexe            0
type_douleur    0
pression        0
cholester       0
sucre           0
electro         0
taux_max        0
angine          0
depression      0
pic             0
vaisseau        0
coeur           0
dtype: int64

In [93]:
df_droped.shape

(135, 13)

In [94]:
df_to_clean.shape

(270, 13)

### Fill NaN

In [95]:
df_static_filled = df_to_clean.fillna(
    value=0,
)

In [96]:
df_static_filled.isna().sum()

age             0
sexe            0
type_douleur    0
pression        0
cholester       0
sucre           0
electro         0
taux_max        0
angine          0
depression      0
pic             0
vaisseau        0
coeur           0
dtype: int64

In [97]:
df_static_filled.head(10)

,age,sexe,type_douleur,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,70.0,masculin,D,130.0,322.0,A,C,109.0,non,24.0,2.0,D,presence
1,67.0,feminin,C,115.0,564.0,A,0,160.0,non,16.0,2.0,A,absence
2,57.0,masculin,B,124.0,261.0,A,A,141.0,non,0.0,1.0,A,presence
3,64.0,masculin,D,128.0,263.0,A,A,105.0,oui,2.0,2.0,0,absence
4,74.0,feminin,B,120.0,269.0,A,C,121.0,oui,2.0,1.0,B,absence
5,65.0,masculin,D,0.0,177.0,A,A,140.0,non,4.0,1.0,A,absence
6,56.0,masculin,C,130.0,0.0,B,C,142.0,oui,6.0,2.0,B,presence
7,59.0,masculin,D,110.0,239.0,A,C,142.0,oui,12.0,2.0,B,0
8,60.0,masculin,D,140.0,293.0,A,C,170.0,non,12.0,2.0,0,presence
9,63.0,feminin,0,150.0,407.0,A,C,154.0,non,40.0,2.0,D,presence

In [98]:
df_to_clean.dtypes

age             float64
sexe             object
type_douleur     object
pression        float64
cholester       float64
sucre            object
electro          object
taux_max        float64
angine           object
depression      float64
pic             float64
vaisseau         object
coeur            object
dtype: object

In [99]:
colname_and_dtype = list(zip(df_to_clean.columns, df_to_clean.dtypes))
# print(f"{colname_and_dtype = }")

num_cols = []
str_cols = []
for colname, dtype in colname_and_dtype:
    if dtype == "object":
        str_cols.append(colname)
    else:
        num_cols.append(colname)

print(f"{num_cols = }")
print(f"{str_cols = }")

num_cols = ['age', 'pression', 'cholester', 'taux_max', 'depression', 'pic']
str_cols = ['sexe', 'type_douleur', 'sucre', 'electro', 'angine', 'vaisseau', 'coeur']

In [100]:
df_dynamic_filled = df_to_clean.copy()

df_dynamic_filled[num_cols] = df_dynamic_filled[num_cols].fillna(
    value=df_to_clean[num_cols].median(),
)
df_dynamic_filled.head(10)

,age,sexe,type_douleur,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,70.0,masculin,D,130.0,322.0,A,C,109.0,non,24.0,2.0,D,presence
1,67.0,feminin,C,115.0,564.0,A,NaN,160.0,non,16.0,2.0,A,absence
2,57.0,masculin,B,124.0,261.0,A,A,141.0,non,8.0,1.0,A,presence
3,64.0,masculin,D,128.0,263.0,A,A,105.0,oui,2.0,2.0,NaN,absence
4,74.0,feminin,B,120.0,269.0,A,C,121.0,oui,2.0,1.0,B,absence
5,65.0,masculin,D,130.0,177.0,A,A,140.0,non,4.0,1.0,A,absence
6,56.0,masculin,C,130.0,245.0,B,C,142.0,oui,6.0,2.0,B,presence
7,59.0,masculin,D,110.0,239.0,A,C,142.0,oui,12.0,2.0,B,NaN
8,60.0,masculin,D,140.0,293.0,A,C,170.0,non,12.0,2.0,NaN,presence
9,63.0,feminin,NaN,150.0,407.0,A,C,154.0,non,40.0,2.0,D,presence

In [101]:
for str_col in str_cols:
    df_dynamic_filled[str_col] = df_dynamic_filled[str_col].fillna(
        value=df_to_clean[str_col].mode()[0],
    )
df_dynamic_filled.head(10)

,age,sexe,type_douleur,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,70.0,masculin,D,130.0,322.0,A,C,109.0,non,24.0,2.0,D,presence
1,67.0,feminin,C,115.0,564.0,A,C,160.0,non,16.0,2.0,A,absence
2,57.0,masculin,B,124.0,261.0,A,A,141.0,non,8.0,1.0,A,presence
3,64.0,masculin,D,128.0,263.0,A,A,105.0,oui,2.0,2.0,A,absence
4,74.0,feminin,B,120.0,269.0,A,C,121.0,oui,2.0,1.0,B,absence
5,65.0,masculin,D,130.0,177.0,A,A,140.0,non,4.0,1.0,A,absence
6,56.0,masculin,C,130.0,245.0,B,C,142.0,oui,6.0,2.0,B,presence
7,59.0,masculin,D,110.0,239.0,A,C,142.0,oui,12.0,2.0,B,absence
8,60.0,masculin,D,140.0,293.0,A,C,170.0,non,12.0,2.0,A,presence
9,63.0,feminin,D,150.0,407.0,A,C,154.0,non,40.0,2.0,D,presence